p {
  font-family: ariel;
  color: #EA5EFFFF;
}
ul {
  color: #FF69E3FF;
  font-weight: bold;
}
ol {
  background-color: #FFEDFCFF;
  font-size: 16pt;
}
h1 {
  color: #CC00FFFF;
  font-weight: bold;
}
header {
  font-family: serif;
  background-color: #FFE3F6FF;
}
body {
  font-family: cursive;
  width: 90px;
}
footer {
  color: #FF91D1FF;
  height: 70px;
}
